btn {
  display: inline-block;
  border: 0px;
  padding: 9px 7px;
}

.checkbox {
  border-radius: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;

  @media (prefers-reduced-motion: no-preference) {
    animation: App-logo-spin infinite 20s linear;
  }
}

.listtodo-container {
  width: 90%;
  margin: auto;

  ul {
    margin-bottom: 0;
    padding: 0;
  }

  li {
    list-style: none;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;

    .main_task {
      display: flex;
      flex-direction: row;
      .finish-task-btn {
        @extend btn;
        border-radius: 50px;
        height: 18px;
        width: 18px;
      }

      div:first-of-type {
        flex-grow: 10;
      }

      .buttonChange {
        margin-bottom: 8px;
        flex-grow: 1;
        button {
          @extend btn;
          margin-left: 5px;
          border-radius: 5px;
        }
      }
    }

    .space {
      height: 15px;
    }
  }
}

.main-add-task {
  width: 90%;
  margin: auto;

  .add-task-form {
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    .input {
      height: 30px;
    }
    input {
      width: 95%;
      background-color: #282c34;
      border: none;
      color: white;
      height: 40px;
      font-size: 18px;
      padding: 10px;
    }

    input:focus {
      outline: none;
      color: white;
    }

    .change-button {
      display: flex;
      justify-content: flex-end;
      padding: 10px;

      button {
        @extend btn;
        margin-left: 5px;
        border-radius: 5px;
        &:nth-child(2) {
          background-color: rgb(220, 76, 62);
          color: white;

          &:hover {
            background-color: rgb(195, 57, 44);
          }
        }

        &:first-of-type:hover {
          background-color: rgb(245, 245, 245);
        }
      }
    }
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
